@font-face {
  font-family: 'Circular Std';
  src: url('../public/fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../public/fonts/CircularStd-Black.ttf') format('truetype');
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../public/fonts/CircularStd-BlackItalic.ttf') format('truetype');
  font-weight: 900; /* Black */
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../public/fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../public/fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: 400; /* Book */
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../public/fonts/CircularStd-BoldItalic.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../public/fonts/CircularStd-BookItalic.ttf') format('truetype');
  font-weight: 400; /* Book */
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../public/fonts/CircularStd-MediumItalic.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: italic;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Circular Std';
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}